@(postForm: Form[PostSTOF])(implicit session: Session, request: RequestHeader, messagesProvider: MessagesProvider, flash: Flash)

@import b3._
@implicitFieldConstructor = @{ b3.vertical.fieldConstructor() }


@mainSTOF("Add post", session) {

    <div id="content" class="wrapper doc">
    <h2>Post Details</h2>
    @b3.form(action =  helper.CSRF(routes.PostControllerSTOF.save())) {
        <fieldset>
            <legend>(new)</legend>
            title: @b3.textarea(postForm("title"))
            text: @b3.textarea(postForm("text"))
            code: @b3.textarea(postForm("code"))
            tags: @b3.text(postForm("tags[]"))
        </fieldset>
        @b3.submit(Symbol("class") -> "btn btn-default"){ Add}
        @b3.submit(Symbol("class") -> "btn btn-default"){ Cancel}
    }
    </div>
}