@import models.Content.Post
@(welcome: String, posts: Seq[Post])(implicit session: Session)
@import b3._
@mainSTOF(welcome, session) {
    @defining(play.core.PlayVersion.current) { version =>
        <div id="content" class="wrapper doc">
            <h1>@welcome</h1>

            <btn><a href= @controllers.routes.PostControllerSTOF.sortByDate >sort by date</a></btn>
            <btn><a href= @controllers.routes.PostControllerSTOF.sortByVotes >sort by votes</a></btn>


            <h4> Search</h4>
                <form action = @routes.PostControllerSTOF.searchByTag("")" method="get">
                <input type="text" name="tag" placeholder="Enter your search query">
                <input type="submit" value="Search">
            </form>


            <!-- TODO change to seperate post view? -->
            <dl>
            @for(post <- posts) {
                <dl class="dl-horizontal" >
                    <dt>title:</dt>
                    <dd>@post.title<dd>

                    <dt>text:</dt>
                    <dd>@post.text </dd>

                    <dt>code:</dt>
                    <dd>@post.code</dd>

                    <dt>date:</dt>
                    <dd>@post.date</dd>

                    <dt>votes: </dt>
                    <dd>@post.votes</dd>

                    <dt>Tags: </dt>
                    <dd> @post.tags.mkString(",")</dd>

                    <!-- only loged in users can vote -->
                    @if(session.get(models.Global.SESSION_USERNAME_KEY).nonEmpty) {
                        <ul>
                            <button><a href="@routes.PostControllerSTOF.upvote(post.id)  "> upvote </a></button>
                            <button><a href="@routes.PostControllerSTOF.downvote(post.id)"> downvote </a></button>
                            <button>  answer </button>
                        </ul>
                    }
                </dl>
            }
            </dl>
    }
        </div>

    }
